#bg-img{
    background-color:  #4EA0FF ;
    background-image: url('./img/pattern.png');
}

h4{
    color: #808080;
}

.testo{
    color: #808080;
}

p{
    color: #20A9E5;
}

#img-fin{
    place-items:inherit;
}